/*@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight:800;
    font-style: normal;
}*/ /* Regular weight */


@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/Gilroy-Regular.ttf') format('truetype');
  /* Bold weight */
  font-weight:400;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Gilroy";
}
::selection{
  color: rgb(255, 136,0);
}